/tests
/reports
/database
/monsterinc
/monsterinc.exe
/configs/config.yaml
/configs/config.bak.yaml
/logs
/targets
/target
/build/monsterinc.exe
/configs/config.varonis.yaml
/monsterinc.exe~

# Libs
libs/**/vendor/
libs/**/*.test.out
